body {
  background-color: #d6d6d6 ;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#pokemon-card {
  margin-top: 45px;
  background-color:  #1abc9c;
  width: 280px;
  text-align: center;
  border: solid 1px gray;
  border-radius: 4px;
}
#pokemon-card img {
  width: 200px;
}